@media (max-width:950px) and (min-width:867px){
.container{
	background-image: url(../img/night.jpg);
	width:500px;
	height:253px;
	background-size: 100%;
	background-size: cover;
	padding-top: 335px;
	padding-bottom: 45px;
	padding-left:405px;
	background-size: cover;
}
.image {
	background-image: url(../img/kitten-small.png);
	height:270px;
	width: 350px;
	z-index: 30;
    background-size: cover;
}
}

@media (max-width:866px) and (min-width:600px){
.container{
	background-image: url(../img/dawn.png);
	width:500px;
	align-content: center;
	height:253px;
	background-size:100%;
	background-size: cover;
	padding-top: 335px;
	padding-bottom: 45px;
	padding-left:405px;
	align:center;
}
.image {
	background-image: url(../img/kitten-large.png);
	height:270px;
	width: 650px;
	z-index: 30;

}
}